*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

body {
  background-image: url("./assets/bg.svg");
}

.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  margin: 70px auto 0 auto;
  gap: 40px;
}

.hero__title {
  font-size: 2rem;
  margin: 20px 0 0 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.recent-scores__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 25px;
  background: linear-gradient(334.14deg, rgba(255, 255, 255, 0.31) -14.65%, rgba(255, 255, 255, 0) 103.2%), linear-gradient(149.49deg, rgba(255, 232, 191, 0.4) -4.75%, rgba(255, 232, 191, 0) 119.61%);
  filter: drop-shadow(7px 7px 28px rgba(0, 0, 0, 0.18));
  backdrop-filter: blur(4px);
}

.recent-scores__header {
  display: flex;
  align-items: center;
  padding: 7% 6%;
  border-radius: 10px 10px 0 0;
}

.scores__titile {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 100;
}

.scores__btn-refresh,
.add-score__btn-submit {
  width: 100px;
  font-weight: 700;
  margin-left: auto;
  height: 40px;
  color: #fff;
  background-color: #e9553f;
  border: 1px #efefef solid;
  border-radius: 8px;
}

/* SCORES TABLE */

.scores__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scores__item {
  height: auto;
  padding: 15px 5px 15px 20px;
  color: #fc9788;
  background-color: #303030;
  border-radius: 10px;
  width: auto;
}

/* ADD SCORE SECCTION */

.add-score__title {
  font-size: 1.6rem;
  margin: 20px 0;
  color: #fff;
  font-weight: 100;
}

.add-score__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 157px;
}

.scores__table {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 410px;
  overflow-y: scroll;
  margin: 0 15px 50px 15px;
  scroll-behavior: smooth;
  width: 90%;
}

.add-score__inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
  margin-bottom: 20px;
}

.add-score__input {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .main__container {
    flex-direction: row;
    gap: 80px;
    height: 90%;
    margin-top: 8%;
  }

  .add-score__container {
    width: 38%;
  }

  .recent-scores__container {
    width: 50%;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-repeat: no-repeat;
    background-size: 100vw;
  }
}
